/* Playfair Display */
@font-face {
    font-family: 'Playfair Display';
    src: url('../assets/fonts/playfair/PlayfairDisplay-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('../assets/fonts/playfair/PlayfairDisplay-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('../assets/fonts/playfair/PlayfairDisplay-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('../assets/fonts/playfair/PlayfairDisplay-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

/* Urbanist */
@font-face {
    font-family: 'Urbanist';
    src: url('../assets/fonts/urbanist/Urbanist-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Urbanist';
    src: url('../assets/fonts/urbanist/Urbanist-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Urbanist';
    src: url('../assets/fonts/urbanist/Urbanist-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}


/* Cormorant Upright */
@font-face {
    font-family: 'Cormorant Upright';
    src: url('../assets/fonts/cormorant/CormorantUpright-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cormorant Upright';
    src: url('../assets/fonts/cormorant/CormorantUpright-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cormorant Upright';
    src: url('../assets/fonts/cormorant/CormorantUpright-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cormorant Upright';
    src: url('../assets/fonts/cormorant/CormorantUpright-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cormorant Upright';
    src: url('../assets/fonts/cormorant/CormorantUpright-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

:root {
  --font-display: 'Cormorant Upright', serif;
  --font-body: 'Urbanist', sans-serif;
}